---
import ListNews from '../components/ListNews.astro'
import MainNew from '../components/MainNew.astro'
import Nav from '../components/Nav.astro'
import TopNews from '../components/TopNews.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <Nav />
  <main>
    <MainNew />
    <ListNews />
    <TopNews />
  </main>
</Layout>
