---
---

<section>
  <h1>New</h1>
  <article>
    <h2>Hydrogen VS Electric Cars</h2>
    <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
  </article>
  <article>
    <h2>The Downsides of AI Artistry</h2>
    <p>
      What are the possible adverse effects of on-demand AI image generation?
    </p>
  </article>

  <article>
    <h2>Is VC Funding Drying Up?</h2>
    <p>
      Private funding by VC firms is down 50% YOY. We take a look at what that
      means.
    </p>
  </article>
</section>

<style>
  h1 {
    font-size: 2em;
    color: hsl(35, 77%, 62%);
  }
  h2 {
    font-size: 1.2em;
  }
  section {
    color: white;
    background-color: hsl(240, 100%, 5%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 25px;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid hsl(236, 13%, 42%);
  }
  article:last-child {
    border: none;
    padding: 0;
  }
</style>
