---
---

<section>
  <article>
    <img src="/images/image-retro-pcs.jpg" alt="asds" />
    <div>
      <span>01</span>
      <h2>Reviving Retro PCs</h2>
      <p>What happens when old PCs are given modern upgrades?</p>
    </div>
  </article>
  <article>
    <img src="/images/image-top-laptops.jpg" alt="asds" />
    <div>
      <span>02</span>
      <h2>Top 10 Laptops of 2022</h2>
      <p>Our best picks for various needs and budgets.</p>
    </div>
  </article>
  <article>
    <img src="/images/image-gaming-growth.jpg" alt="asds" />

    <div>
      <span>03</span>
      <h2>The Growth of Gaming</h2>
      <p>How the pandemic has sparked fresh opportunities.</p>
    </div>
  </article>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  article {
    display: flex;
    gap: 1em;
  }
  img {
    width: 100px;
    height: 100%;
  }

  article div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  article div > span:first-child {
    margin-bottom: 8px;
  }
  span {
    font-size: 2em;
    color: hsl(233, 8%, 79%);
  }
  h2 {
    font-size: 1.2em;
    color: hsl(240, 100%, 5%);
  }
</style>
